.main-container {
    margin: 70px 150px 50px 150px ;
    background-color: white;
    border-width: 3px;
    border-color: #757677;
    padding: 30px 30px 20px 30px;
}

.link, .link:active, .link:focus{
    color: #17A1B7;
    text-decoration: none;
}

.link:hover {
    color: red;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logout-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.logout-button:active, .logout-button:focus {
    outline: none;
}